services:
  # 后端服务
  backend:
    build: .
    container_name: os-backend
    ports:
      - "8088:8080"  # 宿主机8088 -> 容器8080
    networks:
      - os-net

  # 前端服务
  frontend:
    image: nginx:latest
    container_name: os-frontend
    ports:
      - "8888:80"    # 宿主机8888 -> 容器80 (这就是你的访问入口)
    volumes:
      - ./dist:/usr/share/nginx/html  # 挂载前端文件
      - ./nginx.conf:/etc/nginx/nginx.conf # 挂载配置文件
    depends_on:
      - backend
    networks:
      - os-net

networks:
  os-net:
    driver: bridge